version: 2
jobs:
    build:
        docker:
            - image: node:latest
        steps:
            - checkout
            - run: yarn
            - run: yarn build
            - run: yarn example
