name: ci

on: [push, pull_request]

jobs:
  test-build:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: "https://registry.npmjs.org"
      - run: yarn install
      - run: yarn test
      - run: yarn build
